.tablist-components {
  .close-icon {
    visibility: hidden;
  }
  .nav-link:hover .close-icon {
    visibility: visible;
  }
  .nav-link.active .close-icon {
    visibility: visible;
  }
  .unsaved-icon {
    display: inline-block;
    background-color: #d9534f;
    width: 11px;
    height: 11px;
  }
  .nav-link.with-unsaved .close-icon {
    display: none;
  }
  .nav-link.with-unsaved:hover .close-icon {
    display: inline-block;
  }
  .nav-link.with-unsaved:hover .unsaved-icon {
    display: none;
  }
}
